@import 'colors';

$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$fontSize: 1rem; //if i wanna change the font size of EVERYTHING uniformally, just change this.

/* This SCSS file covers everything in the default layout */

@mixin clickable {
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color ease 0.2s;
  padding: 0.75rem 1rem;
  color: $backgroundColor;

  &:hover {
    cursor: pointer;
  }
}

@mixin borderRadius {
  border-radius: 0.75rem;
}

@mixin icon {
  font-size: $fontSize * 1.5;
}

@mixin mainPageDisplay {
  list-style-type: none;
  text-align: center;
  margin: 0 0.5rem;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

// General formatting stuff

* {
  margin: 0;
  padding: 0;
}

html {
  background: $bodyColor;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}

img, video {
  @include borderRadius;
  width: 100%;
  height: auto;
  object-fit: contain;
}

h1 {
  font-size: $fontSize * 3;
  text-align: center;
}

h3 {
  font-weight: normal;
}

h4 {
  color: $accentColor;
  font-style: italic;
}

hr {
  margin: 2.5rem 20%;
  border: 0.15rem solid $mediumColor;
  border-radius: 1rem;
}

strong {
  color: $accentColor;
}

// Highlights
::selection, ::-moz-selection {
  background-color: $accentColor;
  color: $backgroundColor;
}

// Since I chose $accentColor as my highlight color,
// we need to make things that have a background-color of $accentColor NOT highlight with $accentColor anymore!

.redBackgroundColor {
  background-color: $accentColor;

  ::selection, ::-moz-selection {
    background-color: $accentColor2;
    color: $backgroundColor;
}
}

.quote {
  font-style: italic;
  color: $accentColor;
  font-size: larger;
  font-weight: bolder;
}

/* Navigation Bar */

nav {
  overflow: hidden;
  background-color: $bodyColor;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $backgroundColor;
  z-index: 2;

  ul {
    @include mainPageDisplay;

    li {
      font-size: $fontSize * 1.5;
      margin: 0rem 0.15rem;
      
      a {
        @include clickable;
        &:hover {
          background-color: $accentColor;
        }
      }

      button {
        font-size: $fontSize * 1.5;
        border: none;
        color: $backgroundColor;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $bodyColor;
        height: 49px;
        width: 49px;
        transition: background-color ease 0.2s;
        
        &:hover {
          background-color: $accentColor;
          cursor: pointer;
        }
      }

      .icon {
        padding: 0.75rem 0.9rem; // it only looks good if i do this...

        i {
          @include icon;
        }
      }
    }

    .title { // commented out stuff is from old title that would change if you clicked it
      font-size: $fontSize * 2;
      font-weight: bold;
      // width: 20rem;
      text-align: center;
      @include clickable;
      a {
        transition: color ease 0.2s;

        &:hover {
          // color: $accentColor2;
          background-color: $bodyColor;
        }
      }
    }

    #welcome {
      font-weight: bold;
      text-align: center;
      @include clickable;
      font-size: $fontSize * 1.25;
      background-color: $accentColor2;

      &:hover {
        background-color: $accentColor2;
      }
    }
  }

  .hamburger {
    @include icon;
    display: none;

    i {
      @include clickable;
      width: 24px;
      height: 24px;
      padding: 0.75rem;

      &:hover {
        background-color: $accentColor;
      }
    }
  }
}

#navLinkList {
  @include mainPageDisplay;
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: $bodyColor;
  z-index: 3; // to make it be above the nav bar
  width: 100%;
  justify-content: center; // this is doing nothing???
  align-items: center;
  margin: 0;
  //margin-top: -0.75rem; // why did i have this here???
}

.topPadding {
    padding-top: 4rem;
  }

.flex {
  display: flex !important;
}

.hamburgerLink a {
  @include clickable;
  font-size: $fontSize * 1.5;
  line-height: 3.75rem;
  margin: 1rem;
  //background-color: $accentColor;
}

// Home

.homePageIntro {
  text-align: center;
  margin-top: 2rem;

  h1 {
    font-size: $fontSize * 4;
    font-weight:900;
    //font-style: italic;
  }

  h2 {
    font-size: $fontSize * 2.5;
  }
}

.homePageGames {
  display: flex;
  justify-content: center;
  list-style-type: none;
  align-items: start;
  flex-flow: row wrap;  
  gap: 1%;
  margin: 0.5rem 5%;

  .game {
    max-width: 30%;
    min-width: 30%;
    //height: 25%;
    object-fit: fill;
    // margin: 1rem;
    margin: 1rem;
    transition: filter ease 0.1s;
    
    .hoverfilter {
      filter: opacity(85%) grayscale(50%);

      &:hover {
        filter: opacity(100%)  grayscale(0%);
      }
    }

    
    img {
      @include borderRadius();
      width: 100%;
      height: 100%;
      display: block;
      // filter:brightness(0.9) grayscale(.25);

      &:hover {
        cursor: pointer;
      }
    }
  }

  figcaption {
    line-height: 1.75rem;
    font-size: $fontSize * 1.75;
    font-weight: bold;
    white-space: nowrap;
    margin-top: 0.5rem;
    text-align: center;
    filter: none;
  }

  h2 {
    margin: 0.5rem;
    font-size: $fontSize * 2;
    font-weight: bold;
    white-space: nowrap;
    text-align: center;
    filter: none;
  }

  .tags {
    display: flex;
    flex-flow: row wrap;  
    list-style: none;
    justify-content: center;
    align-items: center;

    li {
      margin: 0.5rem 0.15rem 0rem;
      padding: 0.4rem 0.65rem;
      color: $backgroundColor;
      background-color: none;
      border-radius: 1rem;
      font-weight: bold;
      text-decoration: none;
    }

    // Role Tags
    .TeamLead {
      background-color: $accentColor;
    }

    .Art {
      background-color: #e2418f;
    }

    .SystemsDesign {
      background-color: #3b94f9;
    }

    .CombatDesign {
      background-color: #35bb59;
    }

    .Internship {
      background-color: $accentColor;
    }

    //Genre Tags
    .Party {
      background-color: #dd45d5;
    }

    .Narrative{
      background-color: #efa434;
    }

    .FPS{
      background-color: #443ee7;
    }

    .Roguelike {
      background-color: #d13c1e;
    }
  }
}

.borderMedia {
  border: 3px;
  border-style: solid;
  border-color: $mediumColor;
}

// individual game pages

.titleContainer {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 5%;

  .gameTitle {
    font-size: $fontSize * 4;
    margin: 2rem;
    text-align: center;
    //text-transform: uppercase;
  }

  .playButton {
    @include clickable();
    background-color: $accentColor;
    font-size: $fontSize * 1.75;
    padding: 1.5rem 1.75rem;

    &:hover {
      background-color: $accentColor2;
    }
  }
}

.gamesContainer { // this is a ul
  display: flex;
  flex-flow: row wrap;  
  list-style: none;
  justify-content: center;
  align-items: center;
  //gap: 1%;
  margin: 0rem 5% 2rem;

  .item {
    min-width: 300px;
    max-width: 35%;
    margin: 1rem;
    font-size: $fontSize * 1.25;
    line-height: 2rem;

    li {
      margin-left: 2rem;
      
    }

    .sectionTitle {
      font-size: $fontSize * 2.5;
    }
    
    .importantItem {
      font-weight: bold;

      strong {
        font-weight: bolder;
      }
    }
  }

  .break {
    flex-basis: 100%;
    height: 0;
  }
  
  h2 {
    margin-bottom: 0.5rem;
  }

  figcaption {
    font-size: $fontSize * 1.25;
    text-align: center;
    font-style: italic;
  }

  .gameAsset {
    max-width: 40%;
    min-width: 40%;
    margin: 1rem;
    object-fit: fill;
  }
}

// About me

.aboutMe {
  list-style-type: none;
  font-size: $fontSize * 1.75;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;

  .customizable {
    @include clickable;
    background-color: $accentColor2;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    line-height: 2rem;
  }

  .aboutMeItem {
    max-width: 55%;

    h1 {
      margin-bottom: 2rem;
    }

    img {
      display: block;
    }

    figcaption {
      line-height: 1.75rem;
      font-size: $fontSize * 1.75;
      font-weight: bold;
      white-space: nowrap;
      margin-top: 0.5rem;
      text-align: center;
    }

    a {
      &:hover {
        filter: opacity(85%);
        cursor: pointer;
      }
    }

    .customizaAboutMe {
      margin-top: 2rem;
      
      p {
        display: inline;
        line-height: 2.2em;
      }
    }
  }

  .aboutMe2Section {
    margin: 0.75rem 0 0 10%; 
  }
}

.designProcessItem {
    //background-color: $accentColor;
    font-size: $fontSize * 1.25;
    padding: 1rem 1.5rem;
    margin: 1.25rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: $backgroundColor;
    max-width: 33%;
    min-width: 275px;
    text-align: center;
    flex-basis: 0%;
    
    h2 {
      font-weight: bold;
      font-size: $fontSize * 2;
      color: $backgroundColor;
      margin-bottom: 0.5rem;
    }

    p {
      font-style: italic;
    }

    strong {
      color: $backgroundColor;
    }
  }

.secret {
  font-style: italic;
  text-align: center;
  margin: 0 5% 3rem;
  font-size: $fontSize * 1.5;

  #exampleCustomizable {
    @include clickable();
    background-color: $accentColor2;
    font-style: normal;
    font-weight: bold;
    color: $backgroundColor;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
  }
}

footer {
  background-color: $bodyColor;
  color: $backgroundColor;
  text-align: center;
  padding: 1.25rem;
  margin-top: 0.5rem 0;

  ul {
    display: flex;
    list-style: none;
  }

  a {
    @include clickable;      
    &:hover {
      background-color: $accentColor;
    }
  }

  p {
    font-style: italic;
  }
}

#backToTop {
  display: none;
  margin-bottom: 1.5rem;
  font-size: $fontSize * 1.5;
}

#bottomLinks {
  display: none;
  justify-content: center;
  font-size: $fontSize * 1.5;
  gap: 1%;
  margin-bottom: 1rem;
}

.hidden
{
    display: none !important;
}

// Mobile & 4K Responsiveness

.onlyOnMobile{
  display: none;
}

.onlyOnSmallestMobile{
  display: none;
}

// Giant monitors
@media screen and (min-width: 2500px) {
  html {
    font-size: 2rem;
  }

  .designProcessItem {
    flex-basis: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .onlyOnMobile{
    display: block;
  }
  
  nav {
    justify-content: center;

    ul:not(:first-child) {
      display: none;
    }

    li:not(.title, .hamburger, .hamburgerLink) {
      display: none;
    }

    .hamburger {
      display: block;
    }

    .title {
      font-size: $fontSize * 1;
      min-width: 12rem;
    }
  }

  .homePageGames {
    //flex-direction: column;

    .game {
      min-width: 200px;
      max-width: 60%;
      
      .hoverfilter {
        filter: none;
      }
    }
  }

  .titleContainer {
    flex-direction: column;
    gap: 0;
    
    .playButton {
      margin-bottom: 1rem;
    }
  }

  .gamesContainer {
    flex-direction: column;

    .item {
      min-width: 85%;
      margin: 1rem;
    }

    .gameAsset {
      max-width: 70%;
    }
  }

  .aboutMe {
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .aboutMeItem {
      max-width: 55%;
    }
  }

  footer p {
    margin-top: 0.75rem;
  }

  #backToTop {
    display: block;
  }

  #bottomLinks {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .onlyOnSmallestMobile {
  display: block;
  }
  
  .homePageGames {
    .game {
      min-width: 100px;
      max-width: inherit;
    }

    figcaption {
      //font-size: $fontSize * 1.25;
      white-space: normal;
    }
  }

  .aboutMe {
    .aboutMeItem {
      max-width: 75%;
    }
  }

  .titleContainer {
    .gameTitle {
      font-size: $fontSize * 3;
    }
  }
}