@import 'colors';
@import 'games';

$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

/* This SCSS file covers everything in the default layout */

* {
  margin: 0;
  padding: 0;
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
}


@mixin clickable {
  border-radius: 0.5rem;
  font-weight: bold;
  text-decoration: none;
  transition: background-color ease 0.1s;
  padding: 0.75rem 1rem;
  color: $backgroundColor;


  &:hover {
    cursor: pointer;
  }
}

/* Navigation Bar */

nav {
  overflow: hidden;
  background-color: $bodyColor;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $backgroundColor;
  z-index: 2;

  ul {
    text-align: center;
    list-style-type: none;
    text-align: center;
    margin: 0 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    
    li {
      font-size: 1.15rem;
      margin: 0rem 0.25rem;
      
      a {
        @include clickable;
        &:hover {
          background-color: $accentColor;
        }
      }

      button {
        font-size: 1.5rem;
        border: none;
        color: $backgroundColor;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background-color: $bodyColor;
        height: 49px;
        width: 49px;
        transition: background-color ease 0.1s;
        
        &:hover {
          background-color: $accentColor;
          cursor: pointer;
        }
      }
    }

    .title {
      font-size: 1.75rem;
      font-weight: bold;
      width: 20rem;
      text-align: center;
      transition: color ease 0.1s;
      @include clickable;
      &:hover {
        color: $accentColor2;
      }
    }
  }
}

footer {
  background-color: $bodyColor;
  color: $backgroundColor;
  text-align: center;
  padding: 1.25rem;
  margin: 1rem 0;

  a {
    @include clickable;      
    &:hover {
      background-color: $accentColor;
    }
  }

  p {
    margin-top: 0.75rem;
    font-style: italic;
  }
}

.hidden
{
    display: none !important;
}