.games {
    display: flex;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    flex-flow: row wrap;  

    .game {
      width: 25%;
      min-width: 25%;
      height: 25%;
      margin: 1.5rem;
      padding: 1rem;
    
      img {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 0.75rem;
        //filter:brightness(0.9) grayscale(.25);
        transition: filter ease 0.1s;

        &:hover {
          filter: opacity(85%);
          cursor: pointer;
        }
      }

      figcaption {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem;
      }
    }
  }