<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="https://kit.fontawesome.com/d2216db615.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>

  <body style="margin-top:5%"> <!--I wonder if there's a better way to add the space on top-->
    <nav class = "navigation">
      <ul class = "navLeft">
        <li class="title" id="welcome">My Portfolio</li>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Me</a></li>
        <li><a href="art.html">Art</a></li>
        <li>
          <button id="theme-toggle" class="theme-toggle">
            <i id="sun" class="fa-regular fa-sun"></i>
            <i id="moon"  class="fa-solid fa-moon hidden"></i>
          </button>
        </li>
      </ul>
        <ul class = "navRight">
        <li><a href="https://www.linkedin.com/in/francesca-mancillas/" class="icon"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li><a href="https://francescafrog.itch.io/" class="icon"><i class="fa-brands fa-itch-io"></i></a></li>
        <li><a href="https://github.com/fruttipie" class="icon"><i class="fa-brands fa-github"></i></i></a></li>
        <li><a href="https://twitter.com/frutti" class="icon"><i class="fa-brands fa-twitter"></i></i></a></li>
      </ul>
    </nav>

    {{ content }}
  </body>

  <footer>
    <div><a href="#top">Back to Top</a></div>
    <p>copyright &copy; 2024 Francesca M.</p>
  </footer>

  <script src="script.js"></script> 
</html>
