---
layout: default
---

<div class="homePageIntro">
    <h2><span class="homePageName" style="font-weight: 900;"><!--
        --><span style="color: #ea3959">F</span><!--
        --><span style="color: #ea3974">r</span><!--
        --><span style="color: #ea398e">a</span><!--
        --><span style="color: #ea3aa9">n</span><!--
        --><span style="color: #ea3ac4">c</span><!--
        --><span style="color: #ea3ade">e</span><!--
        --><span style="color: #dc3aea">s</span><!--
        --><span style="color: #c23bea">c</span><!--
        --><span style="color: #a83bea">a </span><!--
        --><br class="onlyOnSmallestMobile"><!--
        --><span style="color: #8e3beb">M</span><!--
        --><span style="color: #733beb">a</span><!--
        --><span style="color: #593ceb">n</span><!--
        --><span style="color: #3f3ceb">c</span><!--
        --><span style="color: #3c53eb">i</span><!--
        --><span style="color: #3c6deb">l</span><!--
        --><span style="color: #3d87eb">l</span><!--
        --><span style="color: #3da2eb">a</span><!--
        --><span style="color: #3dbceb">s</span>
        <br style="margin: 0.75rem;" class="onlyOnSmallestMobile">
    </strong></h2>
{{ content }}